.app-content{
    min-height:calc(100vh - 50px);
    margin-top:50px;
    padding:30px;
    background-color:#e5e5e5;
    margin-left:230px;
    transition: margin-left 0.3s ease;
    @media(max-width:767px){
        margin-left:0;
    }
}

